{% extends "main/base.html" %}

{% block body %}
<div class="container">
  <h5 class="text-center mt-4">Отправьте электронное письмо для восстановления</h5>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form method="POST">
        {% csrf_token %}
        {% include "bs5_form.html" with form=form %}

        <div class="mt-3">
          <button class="btn btn-primary" type="submit" name="button">Отправить</button>
          <a class="btn btn-secondary" href="{% url 'home' %}">Отменить</a>
        </div>
        <br><br>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
