{% extends 'main/base.html' %}


{% block body %}


    <!--подключение скриптов для календаря-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        /* Локализация datepicker */
        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: 'Предыдущий',
            nextText: 'Следующий',
            currentText: 'Сегодня',
            monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
            monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн','Июл','Авг','Сен','Окт','Ноя','Дек'],
            dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
            dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
            dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            weekHeader: 'Не',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['ru']);
    </script>


    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm" style="text-align: center;">

            <h4>Выберите свободную дату</h4><br>

            <div id="datepicker" style="margin: 0 22%"></div>
            <input type="hidden" id="datepicker_value">

            <div style="text-align: left; margin: 10% 15%;">
                {% for el in posts %}
                    {{ el }}, client - {{ el.client }}<br>
                {% endfor %}
            </div>

            <script>
                var dates = [{% for el in dates %}'{{ el }}',{% endfor %}];
                console.log(dates);

                $(function(){
                    $("#datepicker").datepicker({
                        beforeShowDay: function(date){
                            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                            return [dates.indexOf(string) != -1]
                        }
                    });
                });

                document.querySelector('#datepicker').onchange = function() {
                    var date = document.querySelector("#datepicker");
                    console.log(date.value);
                };


            </script>

        </div>
        <div class="col-sm"></div>
    </div>

{% endblock %}