{% extends 'main/base.html' %}


{% block body %}


    <!--подключение скриптов для календаря-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        /* Локализация datepicker */
        $.datepicker.regional['ru'] = {
            closeText: 'Закрыть',
            prevText: 'Предыдущий',
            nextText: 'Следующий',
            currentText: 'Сегодня',
            monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
            monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн','Июл','Авг','Сен','Окт','Ноя','Дек'],
            dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
            dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
            dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
            weekHeader: 'Не',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['ru']);
    </script>


    <div style="width: 80%; margin: 0 auto; text-align: center;">

        <h4>Выберите свободную дату</h4><br>

        {% if request.user.is_staff %}
            <button id="edit_manicure" class="btn btn-sm" value="edit_manicure" onclick="editManicure()">Редактировать</button><br><br>
        {% endif %}

        <div id="calendar"><div id="datepicker" style="display: inline-block; margin: 0 auto;"></div></div>             <!-- Date calendar -->


        <input
            hidden
            hx-get="{% url 'times_result' %}"
            hx-trigger="click delay:0.3s"
            hx-target="#times-result"
            id="datepicker_value"
            name="datepicker_value"
            value="">

        {% if request.user.is_staff %}
            <input
                hidden
                hx-get="{% url 'times_admin_result' %}"
                hx-trigger="click delay:0.3s"
                hx-target="#times-result"
                id="admin_datepicker_value"
                name="admin_datepicker_value"
                value="">
        {% endif %}

        <div id="times-result" style="margin: 30px 0;">
            {% include 'main/times_result.html' %}
        </div>


        <script>
            var dates = [{% for el in dates %}'{{ el }}',{% endfor %}];


            $(function(){
                $("#datepicker").datepicker({
                    beforeShowDay: function(date){
                        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                        return [dates.indexOf(string) != -1]
                    }
                });
            });


            {% if request.user.is_staff %}

                function editManicure() {
                    $("#calendar").empty();
                    var str = '<div id="datepicker" style="display: inline-block; margin: 0 auto;"></div>';
                    document.querySelector("#calendar").innerHTML += str;

                    var btn = document.querySelector("#edit_manicure");
                    btn.innerText = 'Закончить';
                    btn.setAttribute('onclick','cancelEditManicure()');
                    btn.setAttribute('value','cancel_edit_manicure');

                    $(function(){
                        $("#datepicker").datepicker({
                            minDate: 0
                        });
                    });
                };


                function cancelEditManicure() {
                    $("#calendar").empty();
                    var str = '<div id="datepicker" style="display: inline-block; margin: 0 auto;"></div>';
                    document.querySelector("#calendar").innerHTML += str;

                    var btn = document.querySelector("#edit_manicure");
                    btn.innerText = 'Редактировать';
                    btn.setAttribute('onclick','editManicure()');
                    btn.setAttribute('value','edit_manicure');

                    $(function(){
                        $("#datepicker").datepicker({
                            beforeShowDay: function(date){
                                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                                return [dates.indexOf(string) != -1]
                            }
                        });
                    });
                };

            {% endif %}


            document.querySelector('#calendar').onchange = function() {
                var date = document.querySelector("#datepicker");

                {% if request.user.is_staff %}
                    if (document.querySelector("#edit_manicure").value == 'edit_manicure') {
                        var date_value = document.querySelector("#datepicker_value");
                        date_value.value = date.value;
                        if (date_value.value != 'none') {
                            date_value.click();
                        };
                    } else {
                        var date_value = document.querySelector("#admin_datepicker_value");
                        date_value.value = date.value;
                        if (date_value.value != 'none') {
                            date_value.click();
                        };
                    };
                {% else %}
                    var date_value = document.querySelector("#datepicker_value");
                    date_value.value = date.value;
                    if (date_value.value != 'none') {
                        date_value.click();
                    };
                {% endif %}
            };
        </script>

    </div>


{% endblock %}