{% extends 'main/base.html' %}

{% block body %}

    {% if not error %}

        <div class="row" style="margin: 0;">
            <div class="col-sm"></div>
            <div class="col-sm">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for el in form %}
                        <p><label for="{{el.id_for_label}}">{{ el.label }}:</label> {{ el }}</p>
                        <div class="form-error"> {{ el.errors }}</div>   <!-- Выдается ошибка по отдельному полю формы -->
                    {% endfor %}<br>
                    <button class="btn btn-success" type="submit">Изменить данные</button>
                </form><br><br>

                <script type="text/javascript">
                        $("#tel").mask("+375 (99) 999-99-99",{placeholder:"x"});
                </script>

            </div>
            <div class="col-sm"></div>
        </div>

    <script>

        var password = document.querySelector("#id_password");
        password.hidden = true;

        setTimeout(function(){
           $("label[for='None']").css('display', 'none');
        }, 0)

    </script>

    {% else %}
        <style>
            .error-center {
                text-align: center;
                color: red;
            }
        </style>
        <div class="error-center">
            <h2>{{ error }}</h2>
        </div>
    {% endif %}

{% endblock %}