{% extends 'main/base.html' %}
{% load static main_tags %}

{% block body %}

<style>
    .user-detail {
        padding: 20px;
    }
    .col-detail {
        padding: 20px;
    }
    .col-detail p {
        text-align: center;
    }
    #photo {
        border-radius: 15px;
    }
    .btn-outline-primary {
        width: 70%;
    }
    .change-photo {
        display: none;
    }
</style>

<div class="card">
    <div class="card-header">
        Имя пользователя: {{ el.email|slice_email:"@" }}
    </div>
    <div class="row user-detail">
        <div class="col-sm col-detail border-bottom border-top border-left border-right">
            {% if el.photo %}
                <p><img id="photo" src="{{ el.photo.url }}" width="70%"></p>
            {% else %}
                <p><img src="{% static 'main/img/no-photo.png' %}" width="70%"></p>
            {% endif %}
            {% if request.user == el %}
                <form class="change-photo" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.photo }}<br>
                    <button type="submit" class="btn btn-sm btn-success">Изменить</button>
                    <button type="button" class="btn btn-sm btn-danger" onclick="cancelChangePhoto()">Отменить</button>
                </form>
                <div id="change-photo-btn"><p><button onclick="changePhoto()" class="btn btn-sm btn-outline-secondary">Изменить фото</button></p></div>
                <script>
                    function changePhoto() {
                        var change_photo = document.querySelector('.change-photo');
                        var change_photo_btn = document.querySelector('#change-photo-btn');
                        change_photo.style.display = 'block';
                        change_photo_btn.style.display = 'none';
                    };
                    function cancelChangePhoto() {
                        var change_photo = document.querySelector('.change-photo');
                        var change_photo_btn = document.querySelector('#change-photo-btn');
                        change_photo.style.display = 'none';
                        change_photo_btn.style.display = 'block';
                    };
                </script>
            {% endif %}
        </div>
        <div class="col-sm col-detail border-bottom border-top border-left border-right">
            {% if el.email %}
                <p><h4>Имя пользователя:</h4> {{ el.email }}</p>
            {% else %}
                <p><h4>Имя пользователя:</h4> Не заполнено</p>
            {% endif %}


            {% if el.instagram %}
                <p><h4>Инстаграм:</h4> {{ el.instagram }}</p>
            {% else %}
                <p><h4>Инстаграм:</h4> Не заполнено</p>
            {% endif %}


            {% if el.mobile %}
                <p><h4>Телефон:</h4> {{ el.mobile }}</p>
            {% else %}
                <p><h4>Телефон:</h4> Не заполнено</p>
            {% endif %}
        </div>
        <div class="col-sm col-detail border-bottom border-top border-left border-right">
            {% if request.user == el %}
                <p><a class="btn mb-2 btn-outline-primary" href="{% url 'home' %}">История записей</a></p>
            {% endif %}

            {% if request.user == el %}
                <p><a class="btn mb-2 btn-outline-primary" href="{% url 'user_update' el.slug %}">Изменить данные</a></p>
            {% endif %}

            {% if request.user == el %}
                <p><a class="btn mb-2 btn-outline-primary" href="{% url 'password_change' %}">Изменить пароль</a></p>
            {% endif %}

            {% if request.user == el %}
                <p><a class="btn mb-2 btn-outline-primary" href="{% url 'user_logout' %}">Выйти из профиля</a></p>
            {% endif %}

            {% if request.user != el %}
                <style>
                    .outer:before {
                      content: '';
                      display: inline-block;
                      height: 100%;
                      vertical-align: middle;
                    }

                    .inner {
                      display: inline-block;
                      vertical-align: middle;
                    }

                    /* добавим горизонтальное центрирование */
                    .outer {
                      text-align: center;
                    }
                </style>
                <div class="outer" style="height:100%; width: 100%;">
                    <h5 class="inner">Чужой профиль</h5>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}